.Logo{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    background: rgb(51,47,47);
    padding: 2px 10px;
    width: 150px;
    text-align: center;
}
.discoball{
    width: 50px;
    height: 50px;
    margin-left: 60px;
}