.ThankyouPage{
    padding: 20px;
    background-color: rgb(51,47,47);
}
.ThankyouPage h1{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color: #098080;
    margin-bottom: 20px;
}
.ThankyouPage h3{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color:white;
    margin-bottom: 20px;
}
.OrderId{
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.SmallText{
    font-size: 12px;
    margin: 10px 0;
    color:white;
}