.Order{
    width: 100%;
    border: 1px solid #cecece;
    margin: 5px 0;
}
.OrderHeader{
    padding: 10px;
    background: #cecece;
    background-color: rgb(51, 47, 47);
}
.OrderHeader > a{
    display: inline-block;
    padding: 5px 10px;
    background: #098080;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 1px;
}
.OrderDescription{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid #cecece;
    font-size: 14px;
    color:  #555;
    font-family: 'Lato', sans-serif;
}
.odtitle{
    font-weight: bold;
}
.odp{
    display: inline-block;
    padding: 5px 10px;
    background: #098080;
    border-radius: 2px;
    color: #fff;
    margin: 5px 10px;
    text-transform: capitalize;
}
.OrderFooter{
    border: 1px solid #cecece;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
}
.CardText{
    background-color: rgb(51, 47, 47);
    color:white;
    height:30px;
    text-align: center;
    text-shadow:2px 2px #000000 ;
}